__pycache__
cache/
*.pyc
*.pyo
*.pyd
dist/
build/
*cache*/
video_chunks/
MiniCPM_*/
volumes/
*.yaml
*.yml
*.xml
*.json
standalone_embed.sh
sk*
*.bin
*.mp4
*.avi
export_model.py
models/
ovms/
*.tar.gz
yolo*
Miniforge*
neo/
one-by-one*