distro
../langchain-integrations/langchain-videochunk
langchain_community
timm
einops
decord
../langchain-integrations/langchain-summarymerge-score
../langchain-integrations/langchain-openvino-multimodal
pymilvus==2.6.2
langchain_milvus
python-dotenv
optimum-intel@git+https://github.com/huggingface/optimum-intel.git
nncf
huggingface_hub
openvino-genai==2025.1.0
opencv-python
google-adk==1.5.0
litellm
