../langchain-integrations/langchain-openvino-asr
../langchain-integrations/langchain-openvino-diarize
optimum-intel
openvino
openvino-tokenizers
ovmsclient==2023.1
Jinja2==3.1.6
MarkupSafe==3.0.2
langchain-openai
langchain
torchaudio==2.6.0
torch==2.6.0
torchvision==0.21.0
